h1 {
  color: darkblue;
  font-size: 16px;
  font-style: italic;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.score {
  color: gray;
}

.gold {
  color: gold;
}

#gameLink {
    text-align: center;
    border: 1px solid gray;
}

body{
  background-color:#FFD90F !important;
}

body div.container div.jumbotron{
  background-color:#D1B270 !important;
}
body div.container div.row ul.nav-tabs{
  border-bottom: 1px solid #D1B270;
}
body div.container div.row div#that{
  color: #D1B270;
}
body div.container div.row ul.nav-tabs li.active a{
  background-color:#D1B270 !important;
  border: 1px solid #D1B270;
}
body div.container div.row ul.nav-tabs li:not(.active) a:hover{
  background-color:#4F76DF !important;
  border: 1px solid #4F76DF;
}
