h1 {
  color: darkblue;
  font-size: 16px;
  font-style: italic;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.score {
  color: gray;
}

.gold {
  color: gold;
}

#gameLink {
    text-align: center;
    border: 1px solid gray;
}

body{
  background-color:#124376 !important;
}

body div.container div.jumbotron{
  background-color:#FD9CFD !important;
}
body div.container div.row ul.nav-tabs{
  border-bottom: 1px solid #FD9CFD;
}
body div.container div.row div#that{
  color: #FD9CFD;
}
body div.container div.row ul.nav-tabs li.active a{
  background-color:#FD9CFD !important;
  border: 1px solid #FD9CFD;
}
